<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <title>Whiting-Turner</title>
    <!-- locall downloaded bootstrap -->
    <link href="Bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- JJ style sheet -->

    <link rel="stylesheet" type="text/css" href="../../public/styles/modal_login.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Autodesk.ADN.Toolkit.Viewer -->
    <script src=" https://rawgit.com/Developer-Autodesk/library-javascript-view.and.data.api/master/js/Autodesk.ADN.Toolkit.ViewData.js"></script>

    <!-- File drop javascript -->
    <link rel="stylesheet" type="text/css" href="../../public/styles/filedrop.css">
    <script type="text/javascript">
        $(document).ready(function(){
            $('#admin').hide();
        });

    </script>

    <script type="text/javascript">
        function check(){
            $.get( "/check", function( data ){
                //alert(data);
                if(data=='ns')
                {
                    window.location="/";
                }
                if(data =='a'){
                    $('#admin').show();
                }
            });
        }
        $(document).ready(check);
    </script>

    <script type="text/javascript">
        var idleTime = 0;
        $(document).ready(function () {
            //Increment the idle time counter every minute.
            console.log('i will detect inactivity timeout');
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
                console.log('mouse moved');
            });
            $(this).keypress(function (e) {
                idleTime = 0;
                console.log('key pressed');
            });
        });

        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime > 20) { // 20 minutes
                $.get( "/logout1", function( data ){
                    if(data=='log_out')
                    {
                        alert('Inactivity Detected, Please log in');
                        window.location="/";
                    }

                });
            }
        }
    </script>
    <script>
        /*window.onunload = function(){
            console.log('browser is about to close');
            alert('browser is about to close');
            $.get('/logout1',function(data){
                if(data=='log_out'){
                    console.log('session deleted afer unloading');
                }
            })
        }*/
    </script>


</head>
<body>
<!-- navigation bar -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="pull-left" href="#"><img alt="brand"  style="margin-top: 7px" src="../../public/images/WT-Orange.jpg" width="60" height="35" >
            </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only ">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left navr">
                <li ><a href="http://www.whiting-turner.com/">WHITING-TURNER</a></li>
                <li><a href="http://www.whiting-turner.com/about_us/about_us.html">About us</a></li>
                <li><a href="http://www.whiting-turner.com/contact/contact.html">Contact Us</a></li>
                <li><a href="/panel.html" id="admin">ADMIN PANEL</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-right"><a id="out_out" href="#">Logout</a></li>
            </ul>
        </div>
        <div class="col-lg-1 col-md-1 hidden-sm" align="right"></div>
    </div>
    </div>
</nav>
<div class="container-fluid">

    <section id="section-choose-models" class="scrollblock block-choose-models" style=" padding-top: 100px">
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Whiting Turner 3D view Application</h3>
                </div>
                <div class="panel-body">
                    <a href="#myModal" data-toggle="modal" data-target="#myModal">List of supported models</a>
                    <legend>Upload the model</legend>

                    <div class="form-group">
                        <a class="btn btn-warning" id='btnUploadModel' data-toggle="modal" href='#modal-uploadModel'>Upload model</a>
                        <div class="modal fade" id="modal-uploadModel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title">Upload your model</h4>
                                    </div>
                                    <div class="modal-body">

                                        <noscript style="color: maroon">
                                            <h2>JavaScript is disabled in your browser. "Drag and Drop" feature is not supported.</h2>
                                        </noscript>


                                        <legend>Drag and Drop to upload your model</legend>
                                        <!-- A FileDrop area. Can contain any text or elements, or be empty.
                                        Can be of any HTML tag too, not necessary fieldset. -->
                                        <fieldset id="zone">
                                            <p>Drop a file inside&hellip;</p>
                                            <p>Or click here to <em>Browse</em>..</p>
                                            <!--
                                            <p style="z-index: 10; position: relative">
                                            <input type="checkbox" id="multiple">
                                            <label for="multiple">Allow multiple selection</label>
                                            </p>
                                            -->
                                        </fieldset>
                                        <div id="alert_placeholder" style="padding: 10px"></div>
                                        <div>
                                            <span>Please note that your uploaded model will be removed from the list once the page is refreshed. </span>
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->


                    </div>



                    <img id="screenshot" class="img-thumbnail img-responsive" style="display: none;" src=""/>
                    <br/>



                    <a class="btn btn-primary" href="index1.html" onclick="insert_db()" target="_blank">View Your 3D model</a>


                </div>





            </div>
        </div>
    </section>

</div><!-- /.container -->

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text pull-left">© 2016 - Whiting-turner

        </p>


    </div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1><br>
            <form data-toggle="validator" role="form">
                <label for="inputName" class="control-label">Email</label>
                <input type="email" class="form-control" name="user" placeholder="Username" id="u_wt" data-error="Valid address invalid" required>
                <label for="inputemail" class="control-label">Password</label>
                <input type="password" class="form-control" name="pass" placeholder="Password" id="p_wt" required>
                <input type="submit" name="login" class="login loginmodal-submit" value="Login" id="w_login">
            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Supported Models</h4>
            </div>
            <div class="modal-body" style="font-size: medium; font-weight: bold">

                3ds, 3dm, asm, asm\.\d+$, cam360,catpart, catproduct, cgr, collaboration, dae, dgn, dlv3, dwf,
                dwfx, dwg, dwt, dxf, exp, f3d, fbx, g, gbxml, iam, idw, ifc, ifw, ige, iges, igs, ipt, jt,
                max, mfr, model, neu, neu\.\d+$, nwc, nwd, obj, pdf, prt, prt\.\d+$, rcp, rvt,
                sab, sat, session, skp,  sldasm, sldprt, smb, smt, ste
                step, stl, stla, stlb, stp,  x_b, x_t, xas, xpr, wire, zip
            </div>
        </div>
    </div>
</div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<!-- Bootstrap JavaScript -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/scripts/config.js"></script>
<script type="text/javascript" src="../../public/scripts/filedrop.js"></script>
<script type="text/javascript" src="https://rawgit.com/Developer-Autodesk/library-javascript-view.and.data.api/master/js/Autodesk.ADN.Toolkit.ViewData.js"></script>
<script type="text/javascript" src="../../public/scripts/main.js"></script>
</body>
</html>