<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en"></html>
<![endif]--><!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en"></html>
<![endif]--><!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en"></html>
<![endif]--><!--[if gte IE 8]>
<html class="no-js" lang="en"></html>
<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
    <title>Visual Reports</title>
    <meta content="Autodesk Developer Showcase Application" name="description" />
    <meta content="Autodesk" name="author" />
    <meta content="3D Model Viewer" name="keywords" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700" rel="stylesheet" type="text/css" />
    <link href="../../public/styles/libs/normalize.css" rel="stylesheet" type="text/css" />
    <link href="../../public/styles/libs/nv.d3.css" rel="stylesheet">
    <link href="../../public/styles/app.css" rel="stylesheet" type="text/css" />
    <link href="../../public/styles/libs/nv.d3.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/styles/libs/adsk/style.css" type="text/css">



    <script src="../../public/styles/xlsx/dist/xlsx.core.min.js"></script>
    <script src="../../public/styles/ExcelPlus/2.3/excelplus-2.3.min.js"></script>

    <script src="../../public/styles/libs/jquery/jquery-2.1.1.min.js"></script>
    <script src="../../public/scripts/app.js"></script>

    <!-- Autodesk Viewer (from server: PROD) -->
    <link rel="stylesheet" href="https://autodeskviewer.com/viewers/1.2.23/style.css" type="text/css">
    <script src="https://autodeskviewer.com/viewers/1.2.23/viewer3D.min.js"></script>
    <!--<link rel="stylesheet" href="https://developer.api.autodesk.com/viewingservice/v1/viewers/style.css?v=v1.2.23" type="text/css">
    <script src="https://developer.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js?v=v1.2.23"></script>-->

    <!-- Autodesk Viewer (from server: DEV) -->
    <!--<link rel="stylesheet" href="https://lmv.autodesk.com/viewers-dev/latest/style.css" type="text/css">
    <script src="https://lmv.autodesk.com/viewers-dev/latest/viewer3D.min.js"></script>-->

    <!-- Autodesk Viewer (from server: STAGING) -->
    <!--<link rel="stylesheet" href="https://developer-stg.api.autodesk.com/viewingservice/v1/viewers/style.css?v=v1.1.145" type="text/css">
    <script src="https://developer-stg.api.autodesk.com/viewingservice/v1/viewers/viewer3D.min.js?v=v1.1.145"></script>-->

    <script src="../../public/scripts/MyAuthToken.js"></script>
    <script>var debugging = true;</script>
    <script type="text/javascript">
        function check(){

            $.get( "/check", function( data ){
                //alert(data);
                if(data=='null')
                {
                    window.location="/";
                }

            });
        }

        window.onload=check();
    </script>
    <script type="text/javascript">
        var idleTime = 0;
        $(document).ready(function () {
            //Increment the idle time counter every minute.
            console.log('i will detect inactivity timeout');
            var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

            //Zero the idle timer on mouse movement.
            $(this).mousemove(function (e) {
                idleTime = 0;
                console.log('mouse moved');
            });
            $(this).keypress(function (e) {
                idleTime = 0;
                console.log('key pressed');
            });
        });

        function timerIncrement() {
            idleTime = idleTime + 1;
            if (idleTime > 1) { // 20 minutes
                $.get( "/logout", function( data ){
                    if(data=='log_out')
                    {
                        alert('Inactivity Detected, Please login again');
                        window.location="/";
                    }

                });
            }
        }
    </script>

</head>

<body onload="read_lmvmodels();" oncontextmenu="return debugging;">

<!-- Inspector column -->
<div class="project-info-column">

    <div class="project-info-selector">
        <label for="pu_modelToLoad">Model</label>
        <select id="pu_modelToLoad" class="" name="modelToLoad">
            <!-- Options filled in by function in LoadModel.js -->
        </select>
    </div>

    <div class="project-info-selector">
        <label for="pu_viewToLoad">Secondary View</label>
        <select id="pu_viewToLoad" class="" name="viewToLoad">
            <!-- Options filled in by function in LoadModel.js -->
        </select>
    </div>
    <a href="#" id="fullscreenbutton"><span>New window</span></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="excel" href="#" onclick="export_excel()">Export to Excel</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a id="out_out" href="#" onclick="out_out();"><span>logout</span></a>

    <ul class="tab-buttons" id="tab_buttons">
        <li class="tab-button active">
            <a href="#tab_panel_1" id="tab_button_1"><span class="icon icon-large icon-report"></span><span>Reports</span></a>
        </li>
        <li class="tab-button">
            <a href="#tab_panel_4" id="tab_button_4"><span class="icon icon-large icon-theme"></span><span>Themes</span></a>
        </li>
        <li class="tab-button">
            <a href="#tab_panel_2" id="tab_button_2"><span class="icon icon-large icon-theme"></span><span>Relationships</span></a>
        </li>
        <li class="tab-button">
            <a href="#tab_panel_5" id="tab_button_5"><span class="icon icon-large icon-theme"></span><span>View Points</span></a>
        </li>


    </ul>

    <div class="tab-panel active" id="tab_panel_1">
        <div class="report-select">
            <span class="report-select-mask">Type</span>
            <select id="pu_reportToRun" class="select-light report-select-input" name="reportToRun" disabled>
                <!-- Options filled in by function in Report_PieChart.js -->
            </select>
        </div>
        <div class="report-select">
            <span class="report-select-mask">Sort Order</span>
            <select id="pu_sortOrder" class="select-light report-select-input" name="sortOrder" disabled>
                <option value="value-asc">Value - Ascending</option>
                <option value="value-desc" selected="selected">Value - Descending</option>
                <option value="label-asc">Label - Ascending</option>
                <option value="label-desc">Label - Descending</option>
                <option value="random">Random</option>
            </select>
        </div>
        <div id="reportinput"></div>
        <div class="svgcanvas">
            <div id="pieChart">
            </div>
            <div id="barChart">
            </div>
        </div>
    </div>

    <div class="tab-panel" id="tab_panel_4">
        <div class="report-select">
            <span class="report-select-mask">No theme selected</span>
            <select id="pu_colorTheme" class="select-light report-select-input" name="colorTheme">
            </select>
            <!--
            <button id="thmbtn" type="button">Add Theme</button>
            -->
            <input id="nonpropchckbx" type="checkbox">
        </div>

        <div class="svgcanvas">
            <div id="themetitle">
            </div>
            <div id="themecanvas">
            </div>
        </div>

    </div>
    <div class="tab-panel" id="tab_panel_2">
        <!--<button id="bn_showRelationships" class="btn btn-primary">Show Relationships</button>-->
        <button id="bn_showObjsonSheet" class="btn btn-primary">Show "OnSheet but not Model"</button>
        <button id="bn_showWhereViewable" class="btn btn-primary">Show where viewable</button>
        <div id="sheetThumbs">
            <img id="img_thumbnail"></img>
            <!-- Sheet thumbnails go here -->
        </div>
    </div>

    <div class="tab-panel" id="tab_panel_5">
        <button id="tourbtn" type="button">Start Tour</button>
        <button id="viewportbtn" type="button">Add Pin</button>
        <input id="pincheckbox" type="checkbox">
        <label for="pincheckbox">Hide Pins</label>
        <div id="pintablelist"></div>
    </div>
</div>

<!-- 3D Model Viewer -->
<div id="viewer-group">
    <div class="project-container group" id="viewerMain-panel">
        <div id="handle">Handle</div>
        <div class="project-view-column">
            <div id="viewerMain">
                <!-- Upon the viewer initialization, it will append a div to the above div to insert the viewer.  It
                     will use 100% width and height so that it will fill up whatever the above div's dimensions are.
                     NOTE: Height must be set for this object. -->
            </div>
        </div>
    </div>

    <!-- 2D Model Viewer -->
    <div class="project-container group" id="viewerSecondary-panel">
        <div class="project-view-column">
            <div id="viewerSecondary">
                <!-- Upon the viewer initialization, it will append a div to the above div to insert the viewer.  It
                     will use 100% width and height so that it will fill up whatever the above div's dimensions are.
                     NOTE: Height must be set for this object. -->
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="../../public/styles/xlsx/dist/xlsx.core.min.js"></script>
<script src="../../public/styles/ExcelPlus/2.3/excelplus-2.3.min.js"></script>
<script src="../../scripts/libs/adsk/viewer3D.min.js"></script>
<script src="../../public/scripts/MyAuthToken.js"></script>
<script src="../../public/styles/app.css"></script>
<script src="../../public/styles/libs/d3/d3.min.js"></script>
<script src="../../public/styles/libs/d3pie/d3pie.min.js"></script>
<script src="../../public/styles/libs/nvd3/nv.d3.min.js"></script>
<script src="../../public/scripts/LoadModel.js"></script>
<script src="../../public/scripts/ReportData.js"></script>
<script src="../../public/scripts/Report_BarChart.js"></script>
<script src="../../public/scripts/Report_PieChart.js"></script>
<script src="../../public/scripts/Relationships.js"></script>
<script src="../../public/scripts/Themes.js"></script>
<script src="../../public/scripts/CameraPin.js"></script>
<script src="../../public/scripts/PinData.js"></script>
<script src="../../public/scripts/PinUI.js"></script>
</body>
