<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8">

	<title>Whiting-Turner</title>
	<script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>
	<!-- locall downloaded bootstrap -->
	<link href="Bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- JJ style sheet -->
	<link rel="stylesheet" type="text/css" href="../../public/styles/modal_login.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Autodesk.ADN.Toolkit.Viewer -->
	<script src=" https://rawgit.com/Developer-Autodesk/library-javascript-view.and.data.api/master/js/Autodesk.ADN.Toolkit.ViewData.js"></script>

	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-2.1.2.min.js"></script>

	<!-- carousel CSS -->
	<link rel="stylesheet" src="../../public/styles/carousel.css">
	<style>
		.Absolute-Center{
			width: 50%;
			height: 50%;
			overflow: auto;
			margin: auto;
			position:absolute;
			top:0; left: 0; bottom: 0; right: 0;
		}
		.Center-Container{
			position: relative;
		}


	</style>
	<!--<script type="text/javascript">
		$(document).ready(function(){
			$('#admin').hide();
		});

	</script>-->
	<script type="text/javascript">
		function check(){



			$.get( "/check", function( data ){

				if(data == 'ns')
				{
					//$('#out_index').show();
					$('#admin').hide();
					$('#uploadx').hide();
					$('#modelsx').hide();
					$('#log_in').show();
					//alert('Session is not set');

				}
				else{
					//alert('session is set = ' + data);
					//window.location ='/admin.html';
					if(data =='a'){
						$('#admin').show();
					}
					else{
						$('#admin').hide();
					}
					$('#uploadx').show();
					$('#modelsx').show ();
					$('#log_in').hide();
					$('#out_index').show();
					if(data =='a'){
						$('#admin').show();
					}
					else{
						$('#admin').hide();
					}
				}

			});
		}
		$(document).ready(check);
		$(".navbar-toggle").click(function(event) {
			$(".navbar-collapse").toggle('in');
		});

	</script>

</head>
<body>
<!-- navigation bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="pull-left" href="#"><img alt="brand"  style="margin-top: 7px" src="../../public/images/WT-Orange.jpg" width="60" height="35" >
			</a>
			<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only ">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

		</div>

		<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-left navr">
			<li ><a href="http://www.whiting-turner.com/">WHITING-TURNER</a></li>
				<li><a href="http://www.whiting-turner.com/about_us/about_us.html">About us</a></li>
				<li><a href="http://www.whiting-turner.com/contact/contact.html">Contact Us</a></li>
			</ul>
		</div>
		<div class="col-lg-1 col-md-1 hidden-sm" align="right"></div>
	</div>
	</div>
</nav>
<div class="container-fluid text-center pagination-centered " style="margin-top: 20%"  >

	<h1 class="display-1">Whiting-Turner Model Viewer</h1><br/><br />
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#login-modal" id="log_in">Log in</button>&nbsp;&nbsp;<span><b>New User?</b><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signup-modal" id="signup">Sign up</button></span><br /> <br />
	<span><a href="/admin.html" id="uploadx">Upload Model</a></span>&nbsp;&nbsp;&nbsp;&nbsp;
	<span><a href="/index1.html" id="modelsx">View 3d Models</a></span><br /> <br />
	<span><a href="/panel.html" id="admin">ADMIN PANEL</a></span><br /> <br />
	<div><spav></spav></div>
	<button type="button" class="btn btn-danger" id="out_index">Logout</button>


</div><!-- /.container -->

<div class="navbar navbar-default navbar-fixed-bottom ">
	<div class="container">
		<p class="navbar-text pull-left">© 2016 - Whiting-turner

		</p>


	</div>
</div>

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="loginmodal-container">
			<h1>Login to Your Account</h1><br>

			<form data-toggle="validator" role="form">
				<label for="inputName" class="control-label">Email</label>
				<input type="email" class="form-control" name="user" placeholder="Username" id="u_wt" data-error="Valid address invalid" required>
				<label for="inputemail" class="control-label">Password</label>
				<input type="password" class="form-control" name="pass" placeholder="Password" id="p_wt" required>
				<input type="submit" name="login" class="login loginmodal-submit" value="Login" id="w_login">
			</form>
		</div>
	</div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="loginmodal-container">

				<fieldset>
					<div id="legend">
						<legend class="">Register</legend>
					</div>
					<div class="control-group">
						<label class="control-label" for="username">Username</label>
						<div class="controls">
							<input type="text" id="username" name="username" placeholder="" class="form-control input-lg">
							<p class="help-block">Username can contain any letters or numbers, without spaces</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="email">E-mail</label>
						<div class="controls">
							<input type="email" id="email" name="email" placeholder="" class="form-control input-lg">
							<p class="help-block">Please provide your E-mail</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="password">Password</label>
						<div class="controls">
							<input type="password" id="password" name="password" placeholder="" class="form-control input-lg">
							<p class="help-block">Password should be at least 6 characters</p>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" for="password_confirm">Password (Confirm)</label>
						<div class="controls">
							<input type="password" id="password_confirm" name="password_confirm" placeholder="" class="form-control input-lg">
							<p class="help-block">Please confirm password</p>
						</div>
					</div>


					<div></div>
					<div class="control-group">
						<!-- Button -->
						<div class="controls">

							<input type="submit" name="login"  value="Login" id="register" class="btn btn-primary">
						</div>
					</div>
				</fieldset>

		</div>
	</div>
</div>
<!-- to load the page faster, all scripts are down -->

<!-- jQuery -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../../public/scripts/config.js"></script>

<script type="text/javascript" src="https://rawgit.com/Developer-Autodesk/library-javascript-view.and.data.api/master/js/Autodesk.ADN.Toolkit.ViewData.js"></script>
<script type="text/javascript" src="../../public/scripts/main.js"></script>


<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

</body>
</html>